<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kun_uz</title>
    <link rel="stylesheet" href="{% static 'css/auth/style.css' %}">
</head>
<body>
    <div class="container">

    <form method="post">
        {% csrf_token %}
        <h1>Login page</h1>
        <input name="email", type="email", placeholder="Emailingizni kiriting!">
        <input name="password1", type="password", placeholder="Passwordingizni kiriting!">
        <a style="display: inline-block; text-decoration: none; margin-left: 200px; margin-top: 20px;" href="{% url 'index' %}">Orqaga</a>
        <button type="submit">Send</button>
    </form>

    </div>
</body>
</html>